doctype html

html(ng-app="MyApp")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=1024, user-scalable=no')
    title JS Async Control Flow with ES6 Generators

    //- Required stylesheet 
    link(rel='stylesheet', href='core/deck.core.css')

    //- Extension CSS files go here. Remove or add as needed. 
    link(rel='stylesheet', media='screen', href='extensions/goto/deck.goto.css')
    link(rel='stylesheet', media='screen', href='extensions/menu/deck.menu.css')
    link(rel='stylesheet', media='screen', href='extensions/navigation/deck.navigation.css')
    link(rel='stylesheet', media='screen', href='extensions/status/deck.status.css')
    link(rel='stylesheet', media='screen', href='extensions/scale/deck.scale.css')

    //- Style theme.
    link(rel='stylesheet', media='screen', href='themes/style/normalize.css')
    link(rel='stylesheet', media='screen', href='themes/style/sandstone.dark.css')
    link(rel='stylesheet', media='screen', href='themes/style/prism.css')
    link(rel='stylesheet', media='screen', href='themes/style/snkt.css')

    //- Transition theme. More available in /themes/transition/ or create your own. 
    link(rel='stylesheet', media='screen', href='themes/transition/vertical-slide.css')

    //- Basic black and white print styles 
    link(rel='stylesheet', media='print', href='core/print.css')

    //- Required Modernizr file 
    script(src='modernizr.custom.js')

  body
    .deck-container
      //- Begin slides. Just make elements with a class of slide.
      include slides/title
      include slides/sync-example
      include slides/punchline
      include slides/error-handling
      include slides/contents
      include slides/iterables
      include slides/toy-example-1
      include slides/routines      
      include slides/flow-of-a-function
      include slides/flow-of-a-generator
      include slides/toy-example-2
      include slides/contracts
      include slides/contracts-2
      include slides/libraries-available
      include slides/roll-your-own
      include slides/compatibility
      include slides/further-reading
      //- End slides. 


    //- Required JS files. 
    script(src='jquery.min.js')
    script(src='core/deck.core.js')

    //- Extension JS files. Add or remove as needed. 
    script(src='extensions/menu/deck.menu.js')
    script(src='extensions/goto/deck.goto.js')
    script(src='extensions/status/deck.status.js')
    script(src='extensions/navigation/deck.navigation.js')
    script(src='extensions/scale/deck.scale.js')

    //- Initialize the deck. You can put this in an external file if desired. 
    script.
      $(function() {
        $.deck('.slide');
      });

    //- Own JS files
    script(src='scripts/prism.js')
    script(src='scripts/angular.js')
    script(src='scripts/main.js')

    script.
      angular.module('MyApp', []);

      // Autoplay hack.
      $(document).ready(function () {
        var autoplays = document.getElementsByClassName('autoplay');
        for (var i = 0; i < autoplays.length; i++) {
          autoplays[i].play();
        }
      })
