section.slide
  h1 Is this available? <small style="font-size: 2rem;">(as of 8 Oct 2014)</small>

  ul
    li Node:
      ul
        li In <strong>v0.11+</strong>, run <pre class="inline" style="font-size: 1.8rem;">node --harmony-generators</pre> (or <pre class="inline" style="font-size: 1.8rem;">node --harmony</pre> )
    li Browsers:
      ul
        li Firefox: available in FF31+
        li Chrome: Something something