section.slide
  h1 Is this available? <small style="font-size: 2rem;">(as of 8 Oct 2014)</small>

  ul
    li <strong>Node:</strong> In Node <strong>v0.11+</strong>, run <pre class="inline">node --harmony-generators</pre> (or <pre class="inline">node --harmony</pre> )
    li Something