section.slide
  h1 Is this available? <small style="font-size: 2rem;">(as of 8 Oct 2014)</small>

  ul
    li Node:
      ul
        li In <strong>v0.11+</strong>, run <pre class="inline" style="font-size: 1.8rem;">node --harmony-generators</pre> (or <pre class="inline" style="font-size: 1.8rem;">node --harmony</pre> )
    li Browsers:
      ul
        li Firefox: available in FF31+
        li Chrome: Go to <pre class="inline" style="font-size: 1.8rem;">chrome://flags/#enable-javascript-harmony</pre> (since v35)
    li Source Transformation:
      ul
        li Traceur: <a href="https://github.com/google/traceur-compiler" target="_blank">https://github.com/google/traceur-compiler</a>
        li Regenerator: <a href="http://facebook.github.io/regenerator/" target="_blank">http://facebook.github.io/regenerator/</a>
    li More information: <a href="http://kangax.github.io/compat-table/es6/#generators_(yield)" target="_blank">http://kangax.github.io/compat-table/es6/#generators_(yield)</a>