section.slide
  h1 The rest of this presentation
  ul
    li What is a generator?
      ul
        li Compared to iterables
        li Compared to subroutines and coroutines
        li Toy examples
    li Conveniently abusing generators for ACF
      ul
        li Overall strategy
        li Using a library like Co
        li Using our own code
