section.slide
  h1 The rest of this presentation
  ul
    li What is a generator?
      ul
        li Compared to iterables
        li Compared to subroutines and coroutines
    li Conveniently abusing generators for ACF
      ul
        li Overall strategy
        li Tour of existing ACF gen libraries
        li Building our own library (?)
