section.slide
  table.full-width.two-col.text-center.dotted(style="margin-top: 20px;")
    tbody
      tr
        td: h2.tight Consumer
        td: h2.tight Generator
      tr
        td
          p.tight You
          p.tight.small Get next encounter
        td
          p.tight Kaiju Predictor
          p.tight.small Give next encounter
      tr
        td
          p.tight You
          p.tight.small Receive message<br/>...<br/>Pass next command
        td
          p.tight Voicemail
          p.tight.small Receive next command<br/>...<br/>Pass message
