section.slide
  h1 Further Reading

  ul
    li
      a(href="http://davidwalsh.name/es6-generators") The Basics of ES6 Generators
      |  
      small Kyle Simpson
    li
      a(href="http://jlongster.com/A-Study-on-Solving-Callbacks-with-JavaScript-Generators") A Study on Solving Callbacks with JavaScript Generators
      |  
      small James Long
    li
      a(href="http://blog.stevensanderson.com/2013/12/21/experiments-with-koa-and-javascript-generators/") Experiments with Koa and JavaScript Generators
      |  
      small Steven Sanderson
    li
      a(href="http://jlongster.com/Taming-the-Asynchronous-Beast-with-CSP-in-JavaScript") Taming the Asynchronous Beast with CSP in JavaScript
      |  
      small James Long
    li
      a(href="https://medium.com/code-adventures/callbacks-vs-coroutines-174f1fe66127") Callbacks vs Coroutines
      |  
      small TJ Holowaychuk
    li
      a(href="https://www.youtube.com/watch?v=qbKWsbJ76-s") Promises and Generators: Control Flow Utopia
      |  
      small Forbes Lindesay (video)
