section.slide
  h1 Further Reading

  ul
    li
      a(href="http://jlongster.com/A-Study-on-Solving-Callbacks-with-JavaScript-Generators") A Study on Solving Callbacks with JavaScript Generators
      |  
      small James Long
    li
      a(href="http://jlongster.com/Taming-the-Asynchronous-Beast-with-CSP-in-JavaScript") Taming the Asynchronous Beast with CSP in JavaScript
      |  
      small James Long
    li
      a(href="https://medium.com/code-adventures/callbacks-vs-coroutines-174f1fe66127") Callbacks vs Coroutines
      |  
      small TJ Holowaychuk
