section.slide
  h1 Pick and choose an ACF library
  ul
    li co <small><a href="https://github.com/visionmedia/co" target="_blank">link</a></small>
    li suspend <small><a href="https://github.com/jmar777/suspend" target="_blank">link</a></small>
    li js-csp <small><a href="https://github.com/ubolonton/js-csp" target="_blank">link</a></small>
    li task.js <small><a href="http://taskjs.org/" target="_blank">link</a></small>
    li Roll your own
