section.slide
  h1.text-center.no-spacer.no-top-spacer Improvised Generator Eater
  p.no-top-spacer.no-spacer.text-center Let's make a generator consumer that accepts thunks.
  table.two-col.full-width
    tr
      td
        pre
          code.language-javascript.
            function what(genFunc) {
              var generator = genFunc();
              var weAreHere = generator.next();
              bam(weAreHere, generator);
            }

            function bam(weAreHere, generator) {
              if (weAreHere.done === false) {
                var asyncFunction = weAreHere.value;
                asyncFunction(function (err, data) {
                  if (err) throw err;
                  weAreHere = generator.next(data);
                  bam(weAreHere, generator);
                });
              }
            }

            module.exports = what;
      td
        pre
          code.language-javascript.
            var fs = require('fs');
            var what = require('what');

            what(function *() {
              var a = yield thunkReadFile('./cat.txt');
              console.log(a);
              var b = yield thunkReadFile('./dog.txt');;
              console.log(b);
              var a = yield thunkReadFile('./cat.txt');
              console.log(a);
            });

            function thunkReadFile(path) {
              return function (callback) {
                fs.readFile(path, {encoding: 'utf8'}, callback)
              };
            }
