section.slide
  h2.text-center.spacer A generator is a function that keeps on giving.
  p.slide.text-center.no-top-spacer A generator is a function with a pause button.
  table.slide.text-center.full-width
    tr
      td(width="28%")
        h3.no-spacer Subroutines
        p.no-top-spacer.no-spacer: small Merely returns
      td(width="8%")
        h3.no-spacer.no-top-spacer(style="font-size: 6rem;") <
      td(width="28%")
        h3.no-spacer Generators
        p.no-top-spacer.no-spacer: small Can yield
      td(width="8%")
        h3.no-spacer.no-top-spacer(style="font-size: 6rem;") <
      td(width="28%")
        h3.no-spacer Coroutines
        p.no-top-spacer.no-spacer: small Can yield better
      