section.slide
  h1 Sample Code
  //- Using tables for layout. Kindly deal with it.
  table.two-col
    tr
      td
        pre
          code.language-javascript.
            // Called upon receiving a Node/Express HTTP request.
            (function () {
              var products = loadProductsFromDb();
              res.send(products);
            })();
      td.text-center
        img.text-center.slide(src="imgs/do-you-even-node.png", style="width: 250px;")
        