section.slide.text-center
  h1.title(style="line-height: 1;") Asynchronous Flow Control with<br/>ES6&nbsp;Generators
  p.subtitle.no-spacer Melvin Tiong
  p.subtitle.no-top-spacer(style="font-size: 2rem;") Oct 2014
  p.subtitle(style="font-size: 2rem; color: rgba(255,255,255,0.3);") PgUp / PgDn to navigate